<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id='app'>
    <h2>{{message}}</h2>
    <button @click.once="add">add liu</button>
    <ul>
      <li v-for="(p,index) of persons" :key="index">{{p.name}}-{{p.age}}<input type="text"></li>
      
    </ul>
    <ul>
      <li v-for="(val,key) of car" :key="key">{{key}}-{{val}}</li>
    </ul>
  </div>
  <script src='../js/vue.js'></script>
  <script>
    const app = new Vue({
      el: '#app',
      methods: {
        add(){
          const p = {id:'004',name:'laoliu',age:52}
          this.persons.unshift(p)
        }
      },
      data: {
        message: '消息',
        persons:[
          {id:001,name:'张三',age:18},
          {id:002,name:'lisi ',age:28},
          {id:003,name:'wangwu',age:38},
        ],
        car:{
          name:'a8',
          price:'70w',
          color:'black'
        }
      }
    })
  </script>
</body>
</html>